@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$primary-color: #f5eddd;
$bg-color: #e7e7e7;
$primary-font: arial,x-locale-body,sans-serif
